@import "tailwindcss";

@theme {
  --color-app-gradient: linear-gradient(
    to bottom right,
    #f8fafc,
    #faf5ff,
    #eff6ff
  );
  --color-button-gradient: linear-gradient(to right, #9333ea, #2563eb);
  --color-primary: #9333ea;
  --color-card: #ffffff;
  --color-input-background: #f3f3f5;
  --color-foreground: #111111;
  --color-muted-foreground: #717182;
}

@layer utilities {
  .bg-app-gradient {
    background: var(--color-app-gradient);
  }

  .bg-button-gradient {
    background: var(--color-button-gradient);
  }
}
